@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@200&display=swap');


body {
  margin: 0;
  font-family: 'Cinzel', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 1.3rem;
  font-weight: bolder;
}